################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Fresko-BE/obj
/Fresko-BE/bin/Debug/net8.0
/Fresko-BE/.vs/Fresko-BE/FileContentIndex
