* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

:root {

  --main-homepage-landingpage-backgroundimage : url('./images/LandingPageBackground.svg');

}

.homepage-hero-container {

  width: 100%;

  display: flex;

}

.homepage-hero-container
.homepage-landingpage-container {

  background-image: var(--main-homepage-landingpage-backgroundimage);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100dvw;
  min-height: 100dvh;
  

}

.homepage-hero-container
.homepage-landingpage-container
.homepage-navigation-container {

  width: 100%;
  height: 10%;
  padding: 0% 10%;
  display: flex;

}

.homepage-hero-container
.homepage-landingpage-container
.homepage-navigation-container
.navigation-image-container {

  width: 40%;
  height: 100%;
  

}

.homepage-hero-container
.homepage-landingpage-container
.homepage-navigation-container
nav {

  width: 60%;
  height: 100%;

}

.homepage-hero-container
.homepage-landingpage-container
.homepage-navigation-container
nav
ul {

  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;

}

.homepage-hero-container
.homepage-landingpage-container
.homepage-navigation-container
nav
ul
li {

  list-style-type: none;
  padding: 20px 0px 0px 0px;

}

.homepage-hero-container
.homepage-landingpage-container
.homepage-navigation-container
nav
ul
li
a {

  text-decoration: none;
  color : black;
  margin: 0px 0px 0px 72px;
  font-size: 1rem;
}

.homepage-hero-container
.homepage-landingpage-container
.homepage-navigation-container
nav
ul
li
.navigation-hero-login {

  background-color: #F8F7FF;
  border-radius: 30px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.3);
  padding: 12px 36px;
  text-decoration: underline;
}

.homepage-landingpage-container
.homepage-hero-content-container {

  display: flex;
  width: 100%;
  height: 90%;
  padding: 5% 10%;
}

.homepage-landingpage-container
.homepage-hero-content-container
.homepage-landingpage-leftside-content-container,
.homepage-landingpage-container
.homepage-hero-content-container
.homepage-landingpage-rightside-content-container {

  width: 50%;
  height: 100%;

}

.homepage-landingpage-container
.homepage-hero-content-container
.homepage-landingpage-leftside-content-container
.leftside-main-content-container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.homepage-landingpage-container
.homepage-hero-content-container
.homepage-landingpage-leftside-content-container
.leftside-main-content-container
h2 {

  font-size: 2.441rem;
  font-weight: 900;
  margin: 32px 0px 0px 0px;
  

}

.homepage-landingpage-container
.homepage-hero-content-container
.homepage-landingpage-leftside-content-container
.leftside-main-content-container
h3 {

  font-weight: 700;
  font-size: 2.441rem;;
  margin: 0px 0px 10px 0px;

}

.homepage-landingpage-container
.homepage-hero-content-container
.homepage-landingpage-leftside-content-container
.leftside-main-content-container
h4 {

  font-size: 1.25rem;
  font-weight: 100;
  margin: 0px 0px 20px 0px;

}

.homepage-landingpage-container
.homepage-hero-content-container
.homepage-landingpage-leftside-content-container
.leftside-main-content-container
h5 {

  font-size: 0.875rem;
  font-weight: 300;

}

.homepage-landingpage-container
.homepage-hero-content-container
.homepage-landingpage-leftside-content-container
.leftside-main-content-container
a {

  text-decoration: none;
  color: white;
  background-color: #FF6C0A;
  width: 30%;
  font-size: 1.25rem;
  text-align: center;
  padding: 12px 0px;
  border-radius: 10px;
  box-shadow: -8px 8px 0px 0px rgba(0, 0, 0, 1);
}

.homepage-hero-content-container
.rightside-main-content-container {

  background-image: url('./images/LandingPageBackgroundLaptop.svg');
  background-size: contain;
  width: 100%;
  height: 100%;
}

.tinted {
    border-radius: 25px;
    background-color: rgba(129,254,188,0.5);
    padding: 20px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.homepage-hero-features-container {

  background-color: #F8F7FF;
  padding: 5% 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/LandingPageHighlights.svg');
  background-repeat: no-repeat;
  background-position: 0% 45%;
}
.homepage-hero-features-container 
.homepage-hero-title-container {

  font-size: 48.83px;
  width: 80%;
  border-bottom: 2px solid #7070FF;
  text-align: center;
}
.homepage-hero-features-container 
.homepage-hero-cards-container {

  padding: 5% 0px 0px 0px;
  min-height: 80vh;
  width: 80%;
  display: flex;
  justify-content: space-evenly;


}
.homepage-hero-features-container 
.homepage-hero-cards-container
.homepage-hero-card-1 {

  width: 23%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  padding: 16px 0px 0px 0px;
  border: 2px solid #7070FF;
  border-radius: 20px;
}

.homepage-hero-features-container 
.homepage-hero-cards-container
.homepage-hero-card-1 
p{
  border-bottom: 2px solid #7070FF;
  width: 100%;
  text-align: center;
}

.homepage-hero-features-container 
.homepage-hero-cards-container
.homepage-hero-card-1
img {
  margin: 32px 0px 0px 0px;
}

.homepage-hero-features-container 
.homepage-hero-cards-container
.homepage-hero-card-2 {

  width: 23%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  padding: 16px 0px 0px 0px;
  border: 2px solid #7070FF;
  border-radius: 20px;
}

.homepage-hero-features-container 
.homepage-hero-cards-container
.homepage-hero-card-2
p{
  border-bottom: 2px solid #7070FF;
  width: 100%;
  text-align: center;
}

.homepage-hero-features-container 
.homepage-hero-cards-container
.homepage-hero-card-2
img {
  margin: 32px 0px 0px 0px;
}

.homepage-hero-features-container 
.homepage-hero-cards-container
.homepage-hero-card-3 {

  width: 23%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  padding: 16px 0px 0px 0px;
  border: 2px solid #7070FF;
  border-radius: 20px;
}

.homepage-hero-features-container 
.homepage-hero-cards-container
.homepage-hero-card-3
p{
  border-bottom: 2px solid #7070FF;
  width: 100%;
  text-align: center;
}

.homepage-hero-features-container 
.homepage-hero-cards-container
.homepage-hero-card-3
img {
  margin: 32px 0px 0px 0px;
}

.homepage-hero-features-container 
.homepage-hero-cards-container
.homepage-hero-card-4
p{
  border-bottom: 2px solid #7070FF;
  width: 100%;
  text-align: center;
}

.homepage-hero-features-container 
.homepage-hero-cards-container
.homepage-hero-card-4 {

  width: 23%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  padding: 16px 0px 0px 0px;
  border: 2px solid #7070FF;
  border-radius: 20px;
}
.homepage-hero-features-container 
.homepage-hero-cards-container
.homepage-hero-card-4
img {
  margin: 32px 0px 0px 0px;
}

.homepage-hero-features-container 
.homepage-hero-features-bottom {

  background-image: url('./images/LandingPageHighlightsBottom.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 163px;
  
}

.homepage-hero-inspirational-container {

  background-color: #EDEBFF;
  text-align: center;

}
.homepage-hero-inspirational-container
.homepage-hero-inspirational-head {

  font-size: 48px;

}
.homepage-hero-inspirational-container
.homepage-hero-inspirational-sec {

  font-size: 48px;

}

.homepage-hero-footer-container {

  min-height: 100dvh;
  width: 100%;
  background-image: url('./images/LandingPageFooter.svg');
  background-repeat: no-repeat;

}

.homepage-hero-footer {

  margin: 20% 0% 0% 0%;
  text-align: center;

}

.homepage-hero-footer
img {

  height: 250px;

}

.Moto {

  font-size: 40px;

}

.Copyright {

  font-size: 20px;

}
