.webpage_hero_container {

    height: 100dvh;
    width: 100%;
    background-color: #F8F7FF;


}

.webpage_hero_container
header {

    height: 10%;
    width: 100%;
    background-color: #B8B8FF;
    padding: 0% 10%;
    display: flex;

}

.webpage_hero_container
header
.header_logo_container {

    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.webpage_hero_container
header
nav {

    width: 60%;
    height: 100%;

}
.webpage_hero_container
header
nav
ul {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.webpage_hero_container
header
nav
ul
li {

    list-style: none;

}

.webpage_hero_container
header
nav
ul
li
a {

    text-decoration: none;
    color: #F8F7FF;
    font-size: 24px;
    padding: 8px 48px;
    margin: 0px 16px 0px 0px;
    border: 2px solid #F8F7FF;
    border-radius: 50px;

}

.webpage_hero_container
.webpage_main_content_container {

    width: 100%;
    padding: 5% 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.webpage_hero_container
.webpage_main_content_container
.webpage_main_content_article {

    width: 100%;
    margin: 0px 0px 32px 0px;
    font-size: 20px;
    color: #030014;
    display: flex;
    justify-content: center;

}

.webpage_hero_container
.webpage_main_content_container
.webpage_main_content_article p {

    font-size: 16px;

}

.webpage_hero_container
.webpage_main_content_container
.webpage_main_content_article h1 {

    font-size: 61.13px;

}

.webpage_hero_container
.webpage_main_content_container
.webpage_main_content_article h2 {

    font-size: 48px;

}

.webpage_hero_container
.webpage_main_content_container
.webpage_main_content_article h3 {

    font-size: 35px;

}
.webpage_hero_container
.webpage_main_content_container
.webpage_main_content_image {

    width: 50%;
    height: 50%;
    border-radius: 25px;

}

.webpage_hero_container
.webpage_main_content_container
.webpage_main_content_links h1 {

    font-size: 48px;
    margin: 16px 0px;
    text-align: center;

}

.webpage_hero_container
.webpage_main_content_container
.webpage_main_content_links a {

    text-decoration: none;
    font-size: 32px;
    padding: 12px 48px;
    border: 2px solid #7070FF;
    border-radius: 50px;
    background-color: transparent;
    transition: background-color 0.4s;
    transition: border 0.4s;
}

.webpage_hero_container
.webpage_main_content_container
.webpage_main_content_links a:hover {

    background-color: #B8B8FF;
    border: none;
    transition: background-color 0.4s;
    transition: border 0.4s;

}